In [2]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
    Created on Tue Jul 29 2025
    
    @author: Yaning
"""

import csv
import pandas as pd

In [6]:
elim_df = pd.read_csv('elim_2025_08_01.csv')

In [7]:
elim_df.shape

(35, 3)

In [8]:
new_df = pd.read_csv('euraxess_2025_08_01.csv')

In [9]:
new_df.shape

(29, 8)

In [20]:
# combine the posted_time and the link to make sure they are the same
elim_df['comb'] = elim_df['posted_on'].astype(str) + '|' + elim_df['link'].astype(str)
new_df['comb'] = new_df['posted_on'].astype(str) + '|' + new_df['link'].astype(str)

In [21]:
new_df['exist'] = new_df['comb'].isin(elim_df['comb'])

In [22]:
new_df[~new_df['exist']]

,title,location,posted_on,deadline,details,institute,link,keyword,comb,exist
5,PhD Position in Auditory Cognitive and Computa...,Netherlands,31 July 2025,17 Aug 2025 - 21:59 (UTC),Join a cutting-edge project investigating how ...,Maastricht University via AcademicTransfer,/jobs/365611,Neural_Decoding,31 July 2025|/jobs/365611,False

In [23]:
elim_df['exist'] = elim_df['comb'].isin(new_df['comb'])

In [25]:
elim_df[~elim_df['exist']]

    Unnamed: 0      posted_on          link                        comb  exist
6            6  15 March 2025  /jobs/325914  15 March 2025|/jobs/325914  False
11          11   12 June 2025  /jobs/351937   12 June 2025|/jobs/351937  False
20          20     6 May 2025  /jobs/341261     6 May 2025|/jobs/341261  False
24          24  22 March 2025  /jobs/328468  22 March 2025|/jobs/328468  False
28          28    3 July 2025  /jobs/357895    3 July 2025|/jobs/357895  False
30          30   27 June 2025  /jobs/356214   27 June 2025|/jobs/356214  False
32          32   26 June 2025  /jobs/355605   26 June 2025|/jobs/355605  False